<% if @errors %>
  <ul>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<div class="row">
  <%= form_for @showing, html: { class: "col s12" } do |f| %>
    <%= f.text_field :movie, value: @showing.movie.title, autocomplete: :off, placeholder: "movie title", class: "validate white-text" %>
    <br>
    <%= f.text_field :auditorium, value: @showing.auditorium.name, autocomplete: :off, placeholder: "auditorium name", class: "validate white-text" %>
    <br>
    <%= f.text_field :date, autocomplete: :off, placeholder: "date (YYYY-MM-DD", class: "validate white-text" %>
    <br>
    <%= f.text_field :time, autocomplete: :off, placeholder: "time (HH:MM:SS)", class: "validate white-text" %>
    <br>
    <%= f.submit class: "btn-large orange custom-btn" %>
  <% end %>
</div>
