<% if current_user %>
  <%= link_to 'Add Showing', new_showing_path %>
<% end %>

<% @showings.each do |showing| %>
  <%= link_to '<%= showing.movie.title %>', , showing %>
  <p><%= showing.date %>, <%= showing.time %></p>

  <% if current_user %>
    <%= link_to 'Edit', edit_showing_path(post) %>
    <%= link_to 'Destroy', showing, method: :delete, data: {confirm: 'Are you sure you want to delete this showing?'} %>
  <% end %>
<% end %>