<body class="teal">
<h5 class="white-text light">Place an order for the <span class="orange-text"><%= @showing.time.strftime("%I:%M %p") %></span> showing of <span class="orange-text">'<%= @showing.movie.title %>'</span> on <span class="orange-text"><%= @showing.date.strftime("%B %d, %Y") %></span></h5>

<%= render 'form' %>

<%= link_to 'Back', showing_path(@showing.id), class: "orange-text center" %>
</body>